.swiper-pagination {
    left: 50;
    /* Adjust this value as needed */
    right: auto;
    /* Override default right alignment */
    transform: translateX(-10%);
    /* Center the pagination if needed */
}

.swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    /* Center bullets horizontally */
    position: absolute;
    /* Position absolute to control positioning */
}

.swiper-pagination-bullet {
    width: 20px;
    /* Increase bullet size */
    height: 20px;
    /* Increase bullet size */
    background: rgba(0, 132, 255, 0.6);
    /* Adjust bullet color */
    border-radius: 50%;
    /* Make bullets circular */
    margin: 0 4px;
    /* Add space between bullets */
}

.swiper-pagination-bullet-active {
    background: #000;
    /* Adjust active bullet color */
}